.error_page {
  //display: flex;
  background: #34282a;
  height: 100vh;
  width: 100%;
  color: white;
  font-family: Arial;
  align-content: center;
  justify-content: center;
  //text-align: center;
  //align-content: start;
}

.page_content {
  //margin-top: 100px;
  padding-top: 35px;
  font-size: 16px;
  text-align: center;
  align-items: center;
  //padding: 0px 40px;
  //align-content: center;

  //width: 10s0% !important;
}

.heading {
  margin-top: 0px;
}

